
<html>
<head>
   
</head>
<body>
    <h3> Add movie</h3>
    <form action="/movie/add" method = "POST" >
        <input type="text" name ="name" id= "name" placeholder="Enter movie name" />
        <input type="text" name="director" id= "director" placeholder="Enter movie director" />
        <input type="text" name ="year_released" id= "year_released" placeholder="Enter movie year" />
        <input type="submit" />
    </form>
</body>
</html>