
<html>
    <head>
       
    </head>
    <body>
        <h3> Add Prescription</h3>

        <form action="/prescription/add" method = "POST" >
            <input type="text" name ="patientName" id= "patientName" placeholder="Enter patientName" />
            <input type="text" name ="prescriptionDescription" id= "prescriptionDescription" placeholder="Enter prescriptionDescription" />
            <input type="number" name ="prescriptionPrice" id= "prescriptionPrice" placeholder="Enter prescriptionPrice" />
            <input type="number" name ="prescriptionId" id= "prescriptionId" placeholder="Enter prescriptionId" />
            <input type="submit" />
        </form>
    </body>
    </html>